[Unit]
Description=Braccio arm feedback MQTT publish
After=network.target

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/opt/iotdemo/bin/arm-feedback-mqtt-pub

[Install]
WantedBy=multi-user.target
